a{
  text-decoration: none;
  color: white;
}

.navContainer{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;

  color: white;
  display: flex;
  flex-direction: row;
}
.logoContainer{
  width: 50%;
  display: flex;
}
.logoContainer img{
  width: 15%;
  padding: 10px;
}

.navLinksContainer{
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  margin: 15px;
}
.link{
  cursor: pointer;
  text-decoration: none;
  transition: .2s ease-in-out;
}
.link:hover{
  opacity: 60%;
}